<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="EnableLogs" value="true"/>
		<add key="EnableExtraLogs" value="true"/>
		<!--ip = "172.36.0.143";-->
		<!--int port = 8069;-->
		<add key ="IP" value="172.36.0.143"/>
		<add key ="Port" value="8069"/>
	</appSettings>
	<connectionStrings>
		<add name ="SQLConnectionString" connectionString="Data Source=AMIT-LT72\SQLEXPRESS;Initial Catalog =SmartDataDB;User ID=sa;Password=pctadmin$1234; Integrated Security=false;"/>
	</connectionStrings>
</configuration>